<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="~/css/map.css" />
</head>
<body>
    @RenderBody()

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>