<div id="provinceInfoCard" class="province-info">
    <h4 id="provinceTitle"></h4>
    <div id="provinceInfo"></div>
    <button id="backToIran" class="back-button">بازگشت به نقشه ایران</button>
</div>